hydra-core==1.2.0
pytorch-lightning==1.9.0
transformers==4.27.4
pandas==1.4.4
pandas-datareader==0.10.0
pandas-gbq==0.17.9
pandas-profiling==3.2.0
sentencepiece==0.1.97
Cython==0.29.33
youtokentome==1.0.6
inflect==6.0.2
webdataset==0.1.62
pyannote.core==5.0.0
pyannote.database==5.0.0
pyannote.metrics==3.2.1
editdistance==0.6.2
jiwer==2.5.2
ipython==7.34.0
ipython-genutils==0.2.0
ipython-sql==0.4.1
fastapi==0.95.1
uvicorn==0.22.0